In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import matplotlib
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

##### This part is data preparation. This takes a couple of minutes to run. This part can be conveniently skipped without losing the flow of the problem

In [7]:
#Reading in the data

fraud_data = pd.read_csv('fraud_data.csv')
ip_address = pd.read_csv('IpAddress_to_Country.csv')
fraud_data.head(5)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0

In [8]:
ip_address.head(5)

   lower_bound_ip_address  upper_bound_ip_address    country
0              16777216.0                16777471  Australia
1              16777472.0                16777727      China
2              16777728.0                16778239      China
3              16778240.0                16779263  Australia
4              16779264.0                16781311      China

In [9]:
#Comparing both the tables

len(fraud_data) == len(ip_address)

False

In [10]:
fraud_data.shape

(151112, 11)

In [11]:
ip_address.shape

(138846, 3)

In [42]:
country = len(fraud_data) * [0]

for ind, row in fraud_data.iterrows():
    temp = ip_address[(ip_address['lower_bound_ip_address'] < row['ip_address']) & 
           (ip_address['upper_bound_ip_address'] > row['ip_address'])]['country']
    
    if len(temp) == 1:
        country[ind] = temp.values[0]

fraud_data['country'] = country

In [43]:
fraud_data.to_csv('full_data.csv')

##### Beginning of the problem

In [3]:
data = pd.read_csv('full_data.csv')
data = data.drop('Unnamed: 0', axis = 1)
data.head(5)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,country
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0,Japan
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0,United States
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1,United States
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0,United States

In [4]:
data.dtypes

user_id             int64
signup_time        object
purchase_time      object
purchase_value      int64
device_id          object
source             object
browser            object
sex                object
age                 int64
ip_address        float64
class               int64
country            object
dtype: object

In [5]:
data.describe()

,user_id,purchase_value,age,ip_address,class
count,151112.000000,151112.000000,151112.000000,1.511120e+05,151112.000000
mean,200171.040970,36.935372,33.140704,2.152145e+09,0.093646
std,115369.285024,18.322762,8.617733,1.248497e+09,0.291336
min,2.000000,9.000000,18.000000,5.209350e+04,0.000000
25%,100642.500000,22.000000,27.000000,1.085934e+09,0.000000
50%,199958.000000,35.000000,33.000000,2.154770e+09,0.000000
75%,300054.000000,49.000000,39.000000,3.243258e+09,0.000000
max,400000.000000,154.000000,76.000000,4.294850e+09,1.000000

#### Quick Insights

From the above table, it can be seen that the averge purchase value is around 36 with the median around 35. This indicates    that the purchase value is pretty evenly distributed. 

Minimum age as entered by the user is 18 with a max of 76 and an average 33 and median of 33. This indicates that the site consists of a lot of young users

The percentage of fraudulent activity is around 9%. This is slightly on the high end and needs to be looked into.

In [6]:
#Converting signup time and purchase time to datetime objects

data['signup_time'] = pd.to_datetime(data['signup_time'])
data['purchase_time'] = pd.to_datetime(data['purchase_time'])
data.head(5)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,country
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0,Japan
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0,United States
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1,United States
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0,United States

In [7]:
data['source'].describe()

count     151112
unique         3
top          SEO
freq       60615
Name: source, dtype: object

In [8]:
data['country'].describe()

count            151112
unique              182
top       United States
freq              58049
Name: country, dtype: object

In [9]:
#Let's perform feature engineering
#Creating more powerful variables

# 1.Difference between signup time and purchase time
# 2.Different user id's using the same device could be an indication of a fake transaction
# 3.Different user id's from the same IP address could be a fake transaction

In [10]:
#Difference between signup time and purchase time
data['diff_time'] = (data['purchase_time'] - data['signup_time'])/np.timedelta64(1, 's')

In [11]:
device_count = data.groupby('device_id')['user_id'].count()
device_count[device_count.values > 1]

device_id
AAAXXOZJRZRAO    11
AAEWGRKQJJMVI     2
AAFBODGQYEMVK     2
AAIGAICKBXPSW     2
AAJCSUCPHKORJ     2
AANYBGQSWHRTK     8
AAXWKVBISBGWI     2
ABAWKCLFOLYDQ     2
ABGAAIZLGEAPV     2
ABJBHWVICCSMA     2
ABLFNXIEQFQBS     2
ABNWRAOMBRDLD     2
ABOILHJYQBSZN     2
ABOQRULSUHSNB     2
ABPUTDOGTTISP     2
ABRPYCQOMRDSE     2
ABUOXCIJVYAOT     2
ABWSNQWGCFARL     2
ABXXKZZZFBJEQ     2
ACAPKCCPTSIZO     2
ACILIKRBAROZM     2
ACOUCKDVBQPQZ     2
ACSHTYVZPTAYS     2
ACTACCFFGESOC     2
ACVXQZGXMXLSU     2
ADEDUDCYQMYTI    14
ADEZJTEHZFQPS     2
ADFZEAZJYIAOI     2
ADJHKUHJLOSEO     2
ADNDZJCAYIDRC     2
                 ..
ZXLJBPNTUUWKS     2
ZXLNUFUAAYTLJ     2
ZXOFRFJTDLETI     5
ZXOOJNWZAANRR     2
ZXOOYDWANIPJZ     2
ZXSFHMTZOMBYM     2
ZXTNWNPLOJPKB     2
ZYBNMUSRNQUXG     2
ZYEGKEBUNOQNT     2
ZYGJWKAWPENFC    11
ZYHVSPGHWACPO     6
ZYKQWIDOKNKMW     2
ZYLSZFXHXGZVX     2
ZYPCCBNIVLCNK     2
ZYPKBBYHNPZDI     2
ZYUJUGJEMMTKM     2
ZYVERZMUYSGPI     2
ZYXOOSMUKRJYC     2
ZYZQZXBXADPST    16
ZZCAWCKYVMWNH     9
ZZEPANJLAVTNU     2
ZZFFPOVMCQVCG     7
ZZIJMPDZHEFPD     2
ZZJGHWLIVVIIS     2
ZZJTXSOBVKLIT     2
ZZKXASRAZPHYR     2
ZZOTFEMHJONTA     2
ZZQPVRBHRMVYD    12
ZZUBRTQITHWAO     2
ZZYPLUFCXTHUS     2
Name: user_id, dtype: int64

In [12]:
a = Series([1, 2, 3], index = ['abc', 'def','ghi'])
b = 'def'

In [13]:
b == a.index

array([False,  True, False], dtype=bool)